
<!-- Button trigger modal -->
<button type="button" class="btn btn-custom-purple" data-bs-toggle="modal" data-bs-target="#bandeModal">
  Ajouter une bande
</button>

<!-- Modal -->
<div class="modal fade" id="bandeModal" tabindex="-1" aria-labelledby="bandeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bandeModalLabel">Nouvelle Bande</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="cards">
          <div class="card-bodi">
            <div class="card-header">
              <span>Enregistrement d'une Bande</span>
            </div>
            <div class="py-4 overflow-hidden">
              <div class="flex">
                <!-- Selected agent form -->
                <form [formGroup]="bandeForm" (ngSubmit)="onSubmit()">
                  <div>
                    <label for="code">Code:</label>
                    <input placeholder="" type="text" id="code" formControlName="code">
                  </div>
                  <div>
                    <label for="designation">Designation:</label>
                    <input placeholder="" type="text" id="designation" formControlName="designation">
                  </div>
                  <div>
                    <label for="dateDebut">Date Début:</label>
                    <input placeholder="" type="text" id="dateDebut" formControlName="dateDebut">
                  </div>
                  <div>
                    <label for="dateFin">Date Fin:</label>
                    <input placeholder="" type="text" id="dateFin" formControlName="dateFin">
                  </div>
                  <div>
                    <label for="effectifdepart">Effectif depart:</label>
                    <input placeholder="" type="text" id="effectifdepart" formControlName="effectifdepart">
                  </div>
          
                <div>
                  <label for="batiment">Batiment:</label>
                <select id="batiment" formControlName="batiment">
                  <option *ngFor="let batiment of batiments" [value]="batiment.id">{{ batiment.designation }}</option>
                </select>
              </div>
                  <button type="submit">Enregistrer</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>








<!-- Liste des bandes -->

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Code</th>
        <th scope="col">Designation</th>
        <th scope="col">Date Début</th>
        <th scope="col">Date Fin</th>
        <th scope="col">Effectif depart</th>
        <th scope="col">Batiment</th>
        <th scope="col" *ngIf="authService && authService.roles && authService.roles.includes('admin')">Action</th>

      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let bande of bandes; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ bande.code }}</td>
        <td>{{ bande.designation }}</td>
        <td>{{ bande.dateDebut | date:'yyyy-MM-dd' }}</td>
        <td>{{ bande.dateFin | date:'yyyy-MM-dd' }}</td>
        <td>{{ bande.effectifdepart }}</td>
        <td>{{ bande.batiment.designation }}</td>
        <td>
          <button *ngIf="authService.roles.includes('admin')" class="btn btn-link text-primary" data-bs-toggle="modal" (click)="openDialogEdit(bande)" data-bs-target="#exampleModalEdit">
            <i class="fas fa-edit"></i>
          </button>
          <button *ngIf="authService.roles.includes('admin')" class="btn btn-link text-danger" (click)="deleteBande(bande.id)">
            <i class="fas fa-trash-alt"></i>
          </button>
          <a *ngIf="authService.roles.includes('admin')" class="btn btn-link text-success" (click)="generateRapportPdf(bande.id)" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-file-pdf"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  