<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-xl-4 col-md-6">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
          <div class="col-auto">
            <div class="btn-group" ngbDropdown>
              <a type="button" class="avtar bg-secondary dropdown-toggle arrow-none" data-bs-toggle="dropdown" ngbDropdownToggle>
                <i class="ti ti-dots"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              </ul>
            </div>
          </div>
        </div>
        <span class="text-white d-block fs-1 fw-bold my-2">{{totalDepenses}} FCFA <i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
        <p class="mb-0 opacity-50">Dépenses Avicole</p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card bg-primary-dark dashnum-card text-white overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
          <div class="col-auto">
            <ul ngbNav class="nav-tabs nav-pills" #nav="ngbNav" (navChange)="onNavChange($event)">
              <li class="nav-item" [ngbNavItem]="1">
                
                <ng-template ngbNavContent>
                  <div class="row">
                    
                      <span class="text-white d-block fs-1 fw-bold my-2">{{ventePoulets}}  FCFA <i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
                      <p class="mb-0 opacity-50">Ventes Poules</p>
                    
                    
                  </div>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
        <div [ngbNavOutlet]="nav"> </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card bg-primary-dark dashnum-card dashnum-card-small text-white overflow-hidden">
      <span class="round bg-primary small"></span>
      <span class="round bg-primary big"></span>
      <div class="card-body p-3">
        <div class="d-flex align-items-center">
          <div class="avtar">
            <i class="text-white ti ti-credit-card"></i>
          </div>
          <div class="ms-2">
            <h4 class="text-white mb-1">1050.0 poules <i class="ti ti-arrow-up-right-circle opacity-50"></i></h4>
            <p class="mb-0 opacity-50 text-sm">Totale Poules</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card dashnum-card dashnum-card-small overflow-hidden">
      <span class="round bg-warning small"></span>
      <span class="round bg-warning big"></span>
      <div class="card-body p-3">
        <div class="d-flex align-items-center">
          <div class="avtar bg-light-warning">
            <i class="text-warning ti ti-credit-card"></i>
          </div>
          <div class="ms-2">
            <h4 class="mb-1">{{soldeTotalTresoreries}}  FCFA<i class="ti ti-arrow-up-right-circle opacity-50"></i></h4>
            <p class="mb-0 opacity-50 text-sm">Solde des Comptes</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-8 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <small>Bénéfice</small>
            <h3>{{ benefice }}</h3>
          </div>
          <div class="col-auto">
          </div>
        </div>
        <div id="growthChart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [responsive]="chartOptions.responsive"
            [xaxis]="chartOptions.xaxis"
            [colors]="chartOptions.colors"
            [grid]="chartOptions.grid"
            [tooltip]="chartOptions.tooltip"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h4>Indicateurs</h4>
          </div>
          <div class="col-auto"> </div>
        </div>
        <div class="rounded bg-light-secondary overflow-hidden mb-3" style="height: 50px;">
          <div class="px-3 pt-3">
            <div class="row mb-1 align-items-start">
              <div class="col">
                <h5 class="text-secondary mb-0">Vente Oeufs <i class="fas fa-shopping-cart"></i></h5>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">{{venteOeufs}} FCFA</h4>
              </div>
              
            </div>
          </div>
          
        </div>
        <div class="rounded bg-light-secondary overflow-hidden mb-3" style="height: 50px;">
          <div class="px-3 pt-3">
            <div class="row mb-1 align-items-start">
              <div class="col">
                <h5 class="text-secondary mb-0">Bandes <i class="fas fa-chalkboard"></i></h5>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">{{ totalBandes }}</h4>
              </div>
            </div>
          </div>
          
        </div>
        <div class="rounded bg-light-secondary overflow-hidden mb-3" style="height: 50px;">
          <div class="px-3 pt-3">
            <div class="row mb-1 align-items-start">
              <div class="col">
                <h5 class="text-secondary mb-0">Batiments <i class="fas fa-home"></i> </h5>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">{{ totalBatiments }}</h4>
              </div>
              
            </div>
          </div>
          <div class="rounded bg-light-secondary overflow-hidden mb-3" style="height: 50px;">
            <div class="px-3 pt-3">
              <div class="row mb-1 align-items-start">
                <div class="col">
                  <h5 class="text-secondary mb-0">Totale motalités</h5>
                </div>
                <div class="col-auto">
                  <h4 class="mb-0">48 000,00 FCFA</h4>
                </div>
                
              </div>
            </div>
            
          
        </div>
      </div>
    </div>
  </div>
  <!-- [ sample-page ] end -->
</div>
