<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-xl-4 col-md-6">
    <div class="card bg-white dashnum-card rounded bg-light-secondary overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
          <div class="col-auto">
            <div class="btn-group" ngbDropdown>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              </ul>
            </div>
          </div>
        </div>
        <span class="text-purple d-block fs-1 fw-bold my-2">{{soldeTotalTresoreries | number}}  FCFA <i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
        <p class="mb-0 opacity-50">Solde des Comptes</p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card bg-white dashnum-card rounded bg-light-secondary overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
          <div class="col-auto">
            <ul ngbNav class="nav-tabs nav-pills" #nav="ngbNav" (navChange)="onNavChange($event)">
              <li class="nav-item" [ngbNavItem]="1">
                
                <ng-template ngbNavContent>
                  <div class="row">
                    
                      <span class="text-purple d-block fs-1 fw-bold my-2">{{totalDepenses | number}}  FCFA <i class="ti ti-arrow-up-right-circle opacity-50"></i></span>
                      <p class="mb-0 opacity-50"> Dépenses Avicole </p>
                    
                    
                  </div>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
        <div [ngbNavOutlet]="nav"> </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card bg-white dashnum-card rounded bg-light-secondary overflow-hidden">
      <span class="round bg-primary small"></span>
      <span class="round bg-primary big"></span>
      <div class="card-body p-3">
        <div class="d-flex align-items-center">
          <div class="avtar">
            <i class="text-white ti ti-credit-card"></i>
          </div>
          <div class="ms-2">
            <h4 class="text-purple d-block fs-1 fw-bold my-2">{{totalPoules | number}} poules <i class="ti ti-arrow-up-right-circle opacity-50"></i></h4>
            <p class="mb-0 opacity-50 text-sm">Totale Poules</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-white dashnum-card rounded bg-light-secondary overflow-hidden">
      <span class="round bg-warning small"></span>
      <span class="round bg-warning big"></span>
      <div class="card-body p-3">
        <div class="d-flex align-items-center">
          <div class="avtar bg-light-warning">
            <i class="text-warning ti ti-credit-card"></i>
          </div>
          <div class="ms-2">
            <h4 class="mb-1">0.5 Litres eau<i class="ti ti-arrow-up-right-circle opacity-50"></i></h4>
            <p class="mb-0 opacity-50 text-sm">Nutritions</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6">
    <div class="card bg-white dashnum-card rounded bg-light-secondary overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-purple ti ti-credit-card"></i>
            </div>
          </div>
          <div class="col-auto">
            <div class="btn-group" ngbDropdown>

              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              </ul>
            </div>
          </div>
        </div>
        <span class="text-purple d-block fs-1 fw-bold my-2">{{ventePoulets | number}} FCFA <i class="fas fa-shopping-cart"></i></span>
        <p class="mb-0 opacity-50 text-purple">Ventes Poules</p>
      </div>
    </div>
  </div>
  

  <div class="col-xl-4 col-md-6">
    <div class="card bg-white dashnum-card rounded bg-light-secondary overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
          <div class="col-auto">
            <div class="btn-group" ngbDropdown>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              </ul>
            </div>
          </div>
        </div>
        <span class="text-purple d-block fs-1 fw-bold my-2">{{venteOeufs | number}} FCFA <i class="fas fa-shopping-cart"></i></span>
        <p class="mb-0 opacity-50"> Ventes Oeufs</p>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6">
    <div class="card bg-white dashnum-card rounded bg-light-secondary overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
          <div class="col-auto">
            <div class="btn-group" ngbDropdown>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              </ul>
            </div>
          </div>
        </div>
        <span class="text-purple d-block fs-1 fw-bold my-2">{{ totalOeufs | number}} œufs <i class="fas fa-egg"></i></span>
        <p class="mb-0 opacity-50"> Total Œufs</p>
        
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card bg-white dashnum-card rounded bg-light-secondary overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
          <div class="col-auto">
            <div class="btn-group" ngbDropdown>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              </ul>
            </div>
          </div>
        </div>
        <span class="text-purple d-block fs-1 fw-bold my-2">{{stockAliments}} sacs <i class="fas fa-shopping-bag"></i></span>
        <p class="mb-0 opacity-50"> Stock aliments</p>
        
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6">
    <div class="card bg-white dashnum-card rounded bg-light-secondary overflow-hidden">
      <span class="round small"></span>
      <span class="round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avtar">
              <i class="text-white ti ti-credit-card"></i>
            </div>
          </div>
          <div class="col-auto">
            <div class="btn-group" ngbDropdown>
              <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              </ul>
            </div>
          </div>
        </div>
        <span class="text-purple d-block fs-1 fw-bold my-2">{{alimentsConsommes}} sacs <i class="fas fa-utensils"></i></span>
        <p class="mb-0 opacity-50">Aliments consommés</p>
        
        
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h4>Indicateurs</h4>
          </div>
          <div class="col-auto"> </div>
        </div>
        <div class="rounded bg-light-secondary overflow-hidden mb-3" style="height: 50px;">
          <div class="px-3 pt-3">
            <div class="row mb-1 align-items-start">
              <div class="col">
                <h5 class="text-secondary mb-0">Totale Mortalité <i class="fas fa-skull"></i></h5>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">{{totalMoratlites | number}}</h4>
              </div>
              
            </div>
          </div>
          
        </div>
        <div class="rounded bg-light-secondary overflow-hidden mb-3" style="height: 50px;">
          <div class="px-3 pt-3">
            <div class="row mb-1 align-items-start">
              <div class="col">
                <h5 class="text-secondary mb-0">Bandes <i class="fas fa-chalkboard"></i></h5>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">{{ totalBandes | number}}</h4>
              </div>
            </div>
          </div>
          
        </div>
        <div class="rounded bg-light-secondary overflow-hidden mb-3" style="height: 50px;">
          <div class="px-3 pt-3">
            <div class="row mb-1 align-items-start">
              <div class="col">
                <h5 class="text-secondary mb-0">Batiments <i class="fas fa-home"></i> </h5>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">{{ totalBatiments | number }}</h4>
              </div>
              
            </div>
          </div>
          <div class="rounded bg-light-secondary overflow-hidden mb-3" style="height: 50px;">
            <div class="px-3 pt-3">
              <div class="row mb-1 align-items-start">
                <div class="col">
                  <h5 class="text-secondary mb-0">Totale motalités</h5>
                </div>
                <div class="col-auto">
                  <h4 class="mb-0">48 000,00 FCFA</h4>
                </div>
                
              </div>
            </div>
            
          
        </div>
      </div>
    </div>
  </div>
  <!-- [ sample-page ] end -->
</div>
