<!-- Button trigger modal -->
<button type="button" class="btn btn-custom-purple" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ajouter un Client
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouveau Client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="cards">
          <div class="card-bodi">
            <div class="card-header">
              <span>Enregistrement d'un Client</span>
            </div>
            <!-- Utilisez le formulaire réactif dans le modèle -->
            <form [formGroup]="clientForm" (ngSubmit)="addClient()">
              <div>
                <label for="nom">Nom:</label>
                <!-- Utilisez formControlName avec le formulaire réactif -->
                <input placeholder="Nom" type="text" id="nom" formControlName="nom" required>
              </div>
              <div>
                <label for="ville">Ville:</label>
                <input placeholder="Ville" type="text" id="ville" formControlName="ville" required>
              </div>
              <div>
                <label for="numTel">Numero Téléphone:</label>
                <input placeholder="Numero Téléphone" type="text" id="numTel" formControlName="numTel" required>
              </div>
              <button type="submit">Enregistrer</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Liste des batiments -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Nom</th>
      <th scope="col">Ville</th>
      <th scope="col">Numéro Téléphone</th>
      <th scope="col" *ngIf="authService && authService.roles && authService.roles.includes('admin')">Action</th>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let client of clients; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ client.nom }}</td>
      <td>{{ client.ville }}</td>
      <td>{{ client.numTel }}</td>
      <td>
        <button *ngIf="authService.roles.includes('admin')" class="btn btn-link text-primary" data-bs-toggle="modal" data-bs-target="#exampleModalEdit" (click)="openDialogEdit(client)">
          <i class="fas fa-edit"></i>
        </button>
        <button *ngIf="authService.roles.includes('admin')" class="btn btn-link text-danger" (click)="deleteClient(client.id)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>