<div class="ms-auto">
  <ul class="list-unstyled">
    <li>
      <div class="dropdown pc-h-item header-user-profile" ngbDropdown>
        <a
          class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="javascript:"
          ngbDropdownToggle
          (click)="logout()"
          *ngIf="this.authService.isLoggedIn" 
        >
      
          <i class="ti ti-logout"></i>
          <span>Logout</span>
        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
          <div class="dropdown-header">
            <ng-scrollbar style="height: calc(100vh - 280px)" visibility="hover">
          
          
              <hr />
              <a *ngIf="this.authService.isLoggedIn" class="dropdown-item">
                
                
                <span>Account Profile</span>
              </a>
              <a href="javascript:" class="dropdown-item">
                <i class="ti ti-user"></i>
                <span>Social Profile</span>
              </a>
              <a class="dropdown-item"     
              (click)="logout()"
              *ngIf="this.authService.isLoggedIn" >
                <i class="ti ti-logout"></i>
                <span>Logout</span>
              </a>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
