<!-- Button trigger modal -->
<button type="button" class="btn btn-custom-purple" data-bs-toggle="modal" data-bs-target="#addBandeModal">
  Ajouter un Matériel
</button>

<!-- Modal -->
<div class="modal fade" id="addBandeModal" tabindex="-1" aria-labelledby="addBandeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBandeModalLabel">Nouveau Mateirel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="cards">
          <div class="card-bodi">
            <div class="card-header">
              <span>Enregistrement d'un Matériel</span>
            </div>
            <form [formGroup]="materielForm" (ngSubmit)="addMateriel()">
              <div>
                <label></label>
                <input placeholder="Désignation" type="text"  name="designation" formControlName="designation" required>
              </div>
              <div>
                <label></label>
                <input placeholder="Quantite" type="number" name="quantite" formControlName="quantite" required>
              </div>
              <div>
                <label for="batiment">Batiment:</label>
              <select id="batiment" formControlName="batiment">
                <option *ngFor="let batiment of batiments" [value]="batiment.id">{{ batiment?.designation }}</option>
              </select>
            </div>
              <div>
                <label>Fournisseur</label>
                <select id="fournisseur" formControlName="fournisseur">
                  <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{ fournisseur?.nom }}</option>
                </select>
              </div>
              <button type="submit">Enregistrer</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<!-- Liste des matériaux -->

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">designation</th>
        <th scope="col">quantite</th>
        <th scope="col">batiment</th>
        <th scope="col">fournisseur</th>
        <th scope="col" *ngIf="authService && authService.roles && authService.roles.includes('admin')">Action</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let materiel of materiels; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ materiel.designation }}</td>
        <td>{{ materiel.quantite }}</td>
        <td>{{ materiel.batiment?.designation }}</td>
        <td>{{ materiel.fournisseur?.nom }}</td>
        <td>
          <div>
            <button *ngIf="authService.roles.includes('admin')" class="btn btn-link text-primary" data-bs-toggle="modal" data-bs-target="#exampleModalEdit">
              <i class="fas fa-edit"></i>
            </button>
          </div>

          <button *ngIf="authService.roles.includes('admin')" class="btn btn-link text-danger" (click)="deleteMateriel(materiel.id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
