<!-- Button trigger modal -->
<button type="button" class="btn btn-custom-purple" data-bs-toggle="modal" data-bs-target="#addBandeModal">
  Ajouter un Matériel
</button>

<!-- Modal -->
<div class="modal fade" id="addBandeModal" tabindex="-1" aria-labelledby="addBandeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBandeModalLabel">Nouveau Mateirel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="cards">
          <div class="card-bodi">
            <div class="card-header">
              <span>Enregistrement d'un Matériel</span>
            </div>
            <form [formGroup]="materielForm" (ngSubmit)="addMateriel()">
              <div>
                <label></label>
                <input placeholder="Désignation" type="text"  name="designation" formControlName="designation" required>
              </div>
              <div>
                <label></label>
                <input placeholder="Quantite" type="number" name="quantite" formControlName="quantite" required>
              </div>
              <div>
                <label for="batiment">Batiment:</label>
              <select id="batiment" formControlName="batiment">
                <option *ngFor="let batiment of batiments" [value]="batiment.id">{{ batiment?.designation }}</option>
              </select>
            </div>
              <div>
                <label>Fournisseur</label>
                <select id="fournisseur" formControlName="fournisseur">
                  <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{ fournisseur?.nom }}</option>
                </select>
              </div>
              <button type="submit">Enregistrer</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<!-- Liste des matériaux -->
<!--
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">designation</th>
        <th scope="col">quantite</th>
        <th scope="col">batiment</th>
        <th scope="col">fournisseur</th>
        <th scope="col" *ngIf="authService && authService.roles && authService.roles.includes('admin')">Action</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let materiel of materiels; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ materiel.designation }}</td>
        <td>{{ materiel.quantite }}</td>
        <td>{{ materiel.batiment?.designation }}</td>
        <td>{{ materiel.fournisseur?.nom }}</td>
        <td>
          <div>
            <button *ngIf="authService.roles.includes('admin')" class="btn btn-link text-primary" data-bs-toggle="modal" data-bs-target="#exampleModalEdit" (click)="openDialogEdit(materiel)">
              <i class="fas fa-edit"></i>
            </button>
          </div>

          <button *ngIf="authService.roles.includes('admin')" class="btn btn-link text-danger" (click)="deleteMateriel(materiel.id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
-->

<div class="container-fluide page">
  <div class="container">
      <div class="mt-2">
          <mat-form-field>
              <mat-label>Rechercher</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
            
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
            
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>No </th>
                  <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>
            
                <!-- Matricule Column -->
                <ng-container matColumnDef="designation">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> designation </th>
                  <td mat-cell *matCellDef="let row"> {{row.designation}} </td>
                </ng-container>
            
                <!-- Prenom Column -->
                <ng-container matColumnDef="quantite">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> quantite </th>
                  <td mat-cell *matCellDef="let row"> {{row.quantite}} </td>
                </ng-container>
            
                <!-- Nom Column -->
                <ng-container matColumnDef="batiment">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> batiment </th>
                  <td mat-cell *matCellDef="let row"> {{row.batiment.designation}} </td>
                </ng-container>

                <ng-container matColumnDef="fournisseur">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> fournisseur </th>
                  <td mat-cell *matCellDef="let row"> {{row.fournisseur?.nom}} </td>
                </ng-container>

                   
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                      <td mat-cell *matCellDef="let row">
                        <div *ngIf="authService && authService.roles && authService.roles.includes('admin')">
                          <button mat-icon-button color="primary" (click)="openDialogEdit(row)">
                            <mat-icon>edit</mat-icon>
                          </button>
                        </div>
                        <div *ngIf="authService && authService.roles && authService.roles.includes('admin')">
                          <button mat-icon-button color="warn" (click)="deleteMateriel(row.id)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </td>
                    </ng-container>

                                    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" ></mat-paginator>
            </div>
      </div>
  </div>
</div>