<h2 mat-dialog-title style="color: rgb(1, 111, 182);">Nouveau Locataire</h2>

<mat-dialog-content class="mat-typography">
    <form action="" [formGroup]="locataireForm">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
    
            </thead>
            <tbody>
              <tr style="color: rgb(1, 111, 182);">
                <td>
                  <mat-label>Nom</mat-label>
                     <input matInput placeholder="Ex. Coundoul"  formControlName="nom" required>
                </td>
                <td>
                  <mat-label>Prénom</mat-label>
                  <input matInput placeholder="Ex. Ousseynou"  formControlName="prenom" required>
                </td>
                <td>
                    <mat-label>Prénom</mat-label>
                    <input matInput placeholder="Ex. Ousseynou"  formControlName="prenom" required>
                  </td>
                  <td>
                    <mat-label>Adresse</mat-label>
                    <input matInput placeholder=""  formControlName="adresse" required>
                  </td>
                  <td>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. aa@gmail.com"  formControlName="email" required>
                  </td>
                  <td>
                    <mat-label>Actif</mat-label>
                    <input matInput placeholder="Ex. oui"  formControlName="actif" required>
                  </td>

            
            </tbody>
          </table>
        </div>
    
    </form>

</mat-dialog-content>
<mat-dialog-actions class="custom-align">
  <button mat-fab extended  mat-dialog-close>Annuler</button>
  <button mat-fab extended  color="primary"  [mat-dialog-close]="true" cdkFocusInitial (click)="addLocataire()">{{actionBtn}}</button>
</mat-dialog-actions>