/* Ajoutez ces styles pour mettre en surbrillance le total */
.total-label {
    font-weight: bold;
  }
  
  .total-amount {
    font-weight: bold;
    color: #0a9853; /* Choisissez une couleur qui convient à votre conception */
  }
  