<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form style="width: 22rem;" #changePasswordForm="ngForm" (ngSubmit)="submitChangePasswordForm()">
      <!-- Old Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="oldPassword" class="form-control" [(ngModel)]="oldPassword" name="oldPassword" required />
        <label class="form-label" for="oldPassword">Old Password</label>
      </div>
  
      <!-- New Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="newPassword" class="form-control" [(ngModel)]="newPassword" name="newPassword" required />
        <label class="form-label" for="newPassword">New Password</label>
      </div>
  
      <!-- Submit button -->
      <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Change Password</button>
    </form>
  </div>
  