<ng-scrollbar style="height: calc(100vh - 88px)" visibility="hover">
  <div class="navbar-content">
    <ul class="nav coded-inner-navbar" (clickOutside)="fireOutClick()" (mouseleave)="navMob()">
      <ng-container *ngFor="let item of navigation">
     <!--  <ng-container *ngIf="shouldDisplayItem(item)"> --> 
          <app-nav-group *ngIf="item.type == 'group'" [item]="item"></app-nav-group>
          <app-nav-collapse *ngIf="item.type == 'collapse'" [item]="item"></app-nav-collapse>
          <app-nav-item *ngIf="item.type == 'item'" [item]="item"></app-nav-item>
          <app-nav-item *ngIf = "item.type == 'item' && item.id === 'utilisateur' && this.authService && this.authService.roles && this.authService.roles.includes('admin')" [item]="item"></app-nav-item>
        </ng-container>
    <!-- </ng-container> --> 
    </ul>
      <!-- Sidebar Menu -->
<ul class="nav nav-pills flex-column mb-auto" *ngIf="authService && authService.roles && authService.roles.includes('admin')">
  <li class="nav-item">
    <a class="nav-link link-dark" data-bs-toggle="collapse" href="#gestionLocatif" role="button" aria-expanded="false" aria-controls="gestionLocatif">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#house-door"/></svg>
      Gestion Locatif
    </a>
    <!-- Sous-menu Gestion Locatif -->
    <div class="collapse" id="gestionLocatif">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a routerLink="/appartement" class="nav-link link-dark">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#house-door"/></svg>
            Appartement
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/paiement" class="nav-link link-dark">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#credit-card"/></svg>
            Paiement
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/locataire" class="nav-link link-dark">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#person"/></svg>
            Locataire
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/contrat-location" class="nav-link link-dark">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#person"/></svg>
            Contrat Location
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>

<!-- [ Sidebar Menu ] end -->
  </div>
</ng-scrollbar>
