.gradient-custom-2 {
    background: #8955ae;
    background: -webkit-linear-gradient(to right, #87CEEB, violet);
    background: linear-gradient(to right, #87CEEB, violet);
    
    
    }

    .text-custom {
        background: linear-gradient(to right, #87CEEB, violet);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
