<ng-container>

    <div class="grid grid-cols-1 w-[32rem]">
        <div class="flex flex-0 items-center pr-3 sm:pr-5 pl-6 sm:pl-8 bg-bleue-foncee-1 h-10 text-white mb-2  ">
            <div class="text-lg font-medium text-center w-full">Modifier Batiment</div>       
    
        </div>
        <form  [formGroup]="form">    

            <mat-form-field class="flex-auto w-10/12 pr-2">
                <mat-label>Type</mat-label>
                <input
                matInput
                [formControlName]="'type'">
            </mat-form-field>


            <mat-form-field class="flex-auto w-10/12 pr-2">
                <mat-label>Nom</mat-label>
                <input
                matInput
                [formControlName]="'nom'">
            </mat-form-field>

            <mat-form-field class="flex-auto w-10/12 pr-2">
                <mat-label class="font-bold">Num Tel</mat-label>
                <input
                matInput
                [formControlName]="'numTel'">
            </mat-form-field>

            <mat-form-field class="flex-auto w-10/12 pr-2">
                <mat-label>Email</mat-label>
                <input
                matInput
                [formControlName]="'email'">
            </mat-form-field>    
        </form>
         <div class="flex items-center mt-4 sm:mt-0 justify-between">
        
            <mat-toolbar>
                <button
                class="order-first sm:order-last"
                mat-flat-button
                [color]="'warn'"
                [mat-dialog-close]>
                Annuler
            </button>
                <span class="example-spacer"></span>
                <button
            
            class="order-first sm:order-last"
            mat-flat-button
            [color]="'primary'"
            [disabled]="!form.valid"
            (click)="updateFournisseur()"
            >
                Modifier
            </button>
            </mat-toolbar>
                     
            
            
        </div>
        
    </div>
    
</ng-container>
