<!-- Button trigger modal -->
<button type="button" class="btn btn-custom-purple" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ajouter un Fournisseur
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouveau Fournisseur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="cards">
          <div class="card-bodi">
            <div class="card-header">
              <span>Enregistrement d'un Fournisseur</span>
            </div>
            <!-- Utilisez le formulaire réactif dans le modèle -->
            <form [formGroup]="fournisseurForm" (ngSubmit)="addFournisseur()">
              <div>
                <label for="type">Type :</label>
                <!-- Utilisez formControlName avec le formulaire réactif -->
                <select [(ngModel)]="fournisseur.type" id="type" formControlName="type" required>
                  <option value="Particulier">Particulier</option>
                  <option value="Entreprise">Entreprise</option>
                </select>
              </div>
              <div>
                <label for="nom">Nom:</label>
                <input placeholder="Nom" type="text" id="nom" formControlName="nom" required>
              </div>
              <div>
                <label for="numTel">Numéro Téléphone:</label>
                <input placeholder="Numéro Téléphone" type="text" id="numTel" formControlName="numTel" required>
              </div>
              <div>
                <label for="email">Email:</label>
                <input placeholder="Email" type="email" id="email" formControlName="email" required>
              </div>
              <button type="submit">Enregistrer</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<!-- Liste des fournisseurs -->

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">type</th>
        <th scope="col">nom</th>
        <th scope="col">numTel</th>
        <th scope="col">email</th>
        <th scope="col" *ngIf="authService && authService.roles && authService.roles.includes('admin')">Action</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let fournisseur of fournisseurs; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ fournisseur.type }}</td>
        <td>{{ fournisseur.nom }}</td>
        <td>{{ fournisseur.numTel }}</td>
        <td>{{ fournisseur.email }}</td>
        <td>
          <button *ngIf="authService.roles.includes('admin')" class="btn btn-link text-primary" data-bs-toggle="modal" data-bs-target="#exampleModalEdit">
            <i class="fas fa-edit"></i>
          </button>
          <button *ngIf="authService.roles.includes('admin')" class="btn btn-link text-danger" (click)="deleteFounisseur(fournisseur.id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>