


  <!-- Button trigger modal -->
  <div *ngIf="authService && authService.roles && authService.roles.includes('admin')">
<button type="button" class="btn btn-custom-purple" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ajouter un utilisateur
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouvel Utilisateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="cards">
          <div class="card-bodi">
            <div class="card-header">
              <span>Enregistrement d'un utilisateur</span>
            </div>
            <form (ngSubmit)="signUp()">
              <div>
                <label></label>
                <input placeholder="Email Address" type="email" [(ngModel)]="user.email" name="email" required>
              </div>
              <div>
                <label></label>
                <input placeholder="Nom d'utilisateur" type="text" [(ngModel)]="user.name" name="name" required>
              </div>
              <div>
                <label></label>
                <input placeholder="Numero de telephone" type="text" [(ngModel)]="user.contactNumber" name="contactNumber" required>
              </div>
              <div>
                <label>
                </label>
                <input placeholder="Mot de passe" type="password" [(ngModel)]="user.password" name="password" required>
              </div>
              <button type="submit">Enregistrer</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  <!-- Liste des users -->
<ng-container *ngIf="authService && authService.roles && authService.roles.includes('admin')">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Nom</th>
      <th scope="col">Numero Tel</th>
      <th scope="col">email</th>

      <th scope="col" *ngIf="authService && authService.roles && authService.roles.includes('admin')">Action</th>
    </tr>
  </thead>
  <tbody >
     <tr *ngFor="let user of users; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.contactNumber }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button *ngIf="authService.roles.includes('admin')" class="btn btn-link text-primary">
          <i class="fas fa-edit"></i>
        </button>
        <button *ngIf="authService.roles.includes('admin')" class="btn btn-link text-danger" (click)="deleteUser(user.id)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</ng-container>
<div class="p-3">
  <div class="card">
      <div class="card-body">
          <div class="alert alert-danger">
             <h3>Non Autorisé</h3> 
          </div>

      </div>
  </div>

</div>
